#about-section-title{
    color: white ;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
}

.about-container{
    width: 90%;
    display: flex;
    justify-content:center;
    margin: 0 auto;
    gap: 60px;
    align-items: center;
}

.about-container-01 p{
    width: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 5px;
    color: white;
    text-align: justify;
    font-size: 1.1rem;

}

.about-container-02 img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1440px){
    #about-section-title{
        font-size: 2rem;
    }
    .about-container{
        width: 100%;
        display: flex;
        justify-content:center;
        margin: 0 auto;
        /* gap: 20px; */
        align-items: center;
    }

    .about-container-01 p{
        width: 550px;
        text-align: justify;
        font-size: 0.9rem;
    
    }

    .about-container-02 img{
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    #about-section-title{
        font-size: 1.9rem;
    }
    .about-container{
        width: 100%;
        display: flex;
        justify-content:center;
        margin: 0 auto;
        align-items: center;
    }

    .about-container-01 p{
        width: 430px;
        text-align: justify;
        font-size: 0.9rem;
    }

    .about-container-02 img{
        width: 220px;
        height: 220px;
        object-fit: cover;
        border-radius: 100%;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    #about-section-title{
        font-size: 1.6rem;
    }
    .about-container{
        display: flex;
        flex-direction: column;
    }

    .about-container-01 p{
        width: 350px;
        text-align: justify;
        font-size: 0.8rem;
    }

    .about-container-02 img{
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 100%;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px){
    #about-section-title{
        font-size: 1.5rem;
    }
    .about-container{
        display: flex;
        flex-direction: column;
    }

    .about-container-01 p{
        width: 300px;
        text-align: justify;
        font-size: 0.6rem;
    }

    .about-container-02 img{
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px){
    #about-section-title{
        font-size: 1.4rem;
    }
    .about-container{
        display: flex;
        flex-direction: column;
    }

    .about-container-01 p{
        width: 280px;
        text-align: justify;
        font-size: 0.6rem;
    }

    .about-container-02 img{
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 100%;
    }
}

@media screen and (min-width: 0px) and (max-width: 319px){
    #about-section-title{
        font-size: 1rem;
    }
    .about-container{
        display: flex;
        flex-direction: column;
    }

    .about-container-01 p{
        width: 140px;
        text-align: justify;
        font-size: 0.4rem;
    }

    .about-container-02 img{
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 100%;
    }
}