.recipe-footer {
    background-color:rgb(41, 82, 83);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

.recipe-footer p {
    margin: 5px 0;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}
