body{
    margin: 0;
    background-color:rgb(41, 39, 39);
}

#recipe-qouta{
    font-size: 20px;
    color: #2e0d1d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 300px;
    padding: 10px;
    text-align: center;
}

.name-colour{
    color: rgb(6, 56, 56);
}

.header-content{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(88, 87, 87);
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;

}

.nav-list{
    display: flex;
    gap: 30px;
    list-style: none;
    
}

.nav-list li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    
} 

.menu-panel{
    background-color: black;
    color: white;
    height: 30%;
    width: 220px;
    position: fixed;
    padding-top: 70px;
    top: 0;
    right: -100%;
    transition: right 0.5s ease-in-out;
}

.menu-panel ul{
    list-style: none;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.menu-panel ul li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: white;

}

#burger {
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
    margin-right: 20px;
}

.close-btn {
    background-color: transparent;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    position: absolute;
    width: 50px;
    border-radius: 5px;
    border: 1px solid white;
    top: 10px;
    right: 20px;
  }

@media screen and (min-width: 1024px) and (max-width: 1440px){
    .header-content{
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 100%;
    }
    .nav-list{
        display: flex;
        gap: 20px;
        list-style: none;  
    }

    .nav-list li a{
        font-size: 1.1rem;
        
    } 
    #recipe-qouta{
        font-size: 1.1rem;
        margin-left: 30px;
    }

    #logo-name{
        margin-left: 70px;
    }
    
} 

@media screen and (min-width: 768px) and (max-width: 1023px){
    .header-content{
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 100%;
    }
    .nav-list{
        display: flex;
        gap: 20px;
        list-style: none;  
    }

    .nav-list li a{
        font-size: 0.9rem;  
    } 

    #recipe-qouta{
        font-size: 1rem;
        margin-left: 20px;
    }

    #logo-name{
        margin-left: 20px;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .header-content{
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 100%;
    }
    .menu-panel.active {
        right: 0;
    }
    #burger {
        display: block;    
    }

    .navigation-sections {
        display: none;
    }

    .nav-list{
        display: none;
    }

    #recipe-qouta{
        font-size: 0.9rem;
        margin-left: 5px;
    }

    #logo-name{
        margin-left: 10px;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px){
    .header-content{
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 100%;
    }
    .menu-panel.active {
        right: 0;
    }
    #burger {
        width: 20px;
        height: 20px;
        display: block;    
    }

    .navigation-sections {
        display: none;
    }

    .nav-list{
        display: none;
    }

    #recipe-qouta{
        font-size: 0.8rem;
        margin-left: 5px;
    }

    #logo-name{
        margin-left: 10px;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px){
    .header-content{
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 100%;
    }
    .menu-panel.active {
        right: 0;
    }
    #burger {
        width: 20px;
        height: 20px;
        display: block;    
    }

    .navigation-sections {
        display: none;
    }

    .nav-list{
        display: none;
    }

    #recipe-qouta{
        font-size: 0.6rem;
        margin-left: 5px;
    }

    #logo-name{
        margin-left: 10px;
        font-size: 0.7rem;
    }

}

@media screen and (min-width: 0px) and (max-width: 319px){
    .header-content{
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 100%;
    }
    .menu-panel.active {
        right: 0;
    }
    #burger {
        width: 15px;
        height: 15px;
        display: block;    
    }

    .navigation-sections {
        display: none;
    }

    .nav-list{
        display: none;
    }

    #recipe-qouta{
        font-size: 0.4rem;
        margin-left: 5px;
    }

    #logo-name{
        margin-left: 10px;
        font-size: 0.5rem;
    }

    .menu-panel{
        width: 180px;
    }
}