.home{
    position: relative;
    /* background-color: darkcyan; */
}
.home-section-01{
    margin-top: 87px;
    background-color:rgb(41, 39, 39);
    color: white;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-section-title{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
}

.home-section-detail{
    width: 50%;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.home-section-02 img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@media screen and (min-width: 1024px) and (max-width: 1440px){
    .home-section-01{
       justify-content: center;
    }

    #home-section-title{
        text-align: center;
        font-size: 2rem;
    }

    .home-section-detail{
        width: 70%;
        font-size: 0.9rem;
    }

    .home-section-02 img{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .home-section-01{
        justify-content: center;
    }
    #home-section-title{
        text-align: center;
        font-size: 1.9rem;
    }

    .home-section-detail{
        width: 70%;
        font-size: 0.9rem;
    }

    .home-section-02 img{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    #home-section-title{
        text-align: center;
        font-size: 1.6rem;
    }

    .home-section-detail{
        width: 80%;
        font-size: 0.9rem;
    }

    .home-section-01{
        display: flex;
        flex-direction: column;
    }

    .home-section-02 img{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px){
    #home-section-title{
        text-align: center;
        font-size: 1.5rem;
    }

    .home-section-detail{
        width: 90%;
        font-size: 0.8rem;
    }

    .home-section-01{
        display: flex;
        flex-direction: column;
    }

    .home-section-02 img{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px){
    #home-section-title{
        text-align: center;
        font-size: 1.3rem;
    }

    .home-section-detail{
        width: 80%;
        font-size: 0.6rem;
    }

    .home-section-01{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .home-section-02 img{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
}

@media screen and (min-width: 0px) and (max-width: 319px){
    #home-section-title{
        text-align: center;
        font-size: 1rem;
    }

    .home-section-01{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    .home-section-detail{
        width: 80%;
        font-size: 0.5rem;
    }

    .home-section-01{
        display: flex;
        flex-direction: column;
    }

    .home-section-02 img{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 140px;
        object-fit: cover;
    }
}